html, body{
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    margin: 0px !important;
    padding: 0px !important;
    scroll-behavior: smooth;
}

*{
    text-decoration: none !important;
}

.nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px ;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, .1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
    transition: color 500ms;
}

.nav .links a:hover{
    color: #e0501b;
}

.nav .links .mainlink{
    color: #e0501b;
}

.nav h4{
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
    margin: auto 20px;
}

.nav .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav .logo img{
    width: 45px;
    padding: 10px 5px;
}
/* Landing Section Styles */

.landing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 10vw;
    height: 100vh;
}

.landingText h1{
    font-size: 5.5vw;
    margin: 0 !important;
}

.landingText h3{
    margin: 6px !important;
    font-size: 20px;
    opacity: 0.3;
    line-height: 30px;
}

.landingText .btn{
    width: 120px;
    margin-top: 30px;
    font-size: 1.2vw;
    padding: 14px 20px 14px 20px;
    border: solid 1px #2f8be0;
    background-color: #2f8be0;
    color: white;
    border-radius: 45px;
    transition: all 500ms;
}

.landingText .btn:hover{
    background-color: white;
}

.landingText .btn a{
    font-size: 1.2vw;
    color: white;
}

.landingText .btn:hover > a{
    color: #2f8be0;
}

.landingImage img{
    width: 30vw;
}

/* About Section */

.aboutSection{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 90px;
  padding-top: 110px;
}

.aboutContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutInfo{
  width: 50%;
  padding: 10px auto;
}

.row{
  display: flex;
  flex-direction: row;
}

.aboutInfo span{
  font-size: 3.5vw;
  transform: translate(35px, 33%);
}

.aboutInfo p{
  font-size: 16px;
  color: #000;
  padding-left: 60px;
  line-height: 30px;
  opacity: 0.6;
  text-align: justify;
}

.aboutImage img{
  position: relative;
  right: 10px;
  top: -150px;
  width: 40vw;
}

/* Process section styles */
.process{
    height: 600px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15vh;
    margin-top: -15vh;
}

.processText{
    position: relative;
    padding: 0 50px;
    height: inherit;
}

.processText h1{
    position: relative;
    left: 110px;
}

.processText span{
    font-size: 3vw;
}

.processText img{
    width: 30vw;
    position: absolute;
    top: 100px;
    right: -40px;
}

.processList{
    width: 50%;
}

ol{
  list-style: none;
  color: #e0501b;  
}

ol li{
    font-size: 34px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

li p{
    font-size: 16px;
    color: #000;
    padding-left: 60px;
    line-height: 30px;
    opacity: 0.6;
}

li span{
    position: absolute;
    line-height: 25px;
    font-weight: 600;
}

/* Info section styles */

#servicios{
  transform: translateY(-100px);
}

.infoSection{
    height: 600px;
}

.infoHeader{
    text-align: center;
    margin-bottom: 40px;
}

.infoCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 40px 0;
}

.infoCards .card{
    position: relative;
    height: 360px;
    width: 350px;
    background: white;
    box-shadow: 0 10px 22px rgba(0, 0, 0, .09), 0 10px 10px rgba(0, 0, 0, .09);
    transition: all ease-in-out 300ms;
}

.infoCards .card:hover{
    transform: translateY(-7%) !important;
}

.infoCards .one .cardoneImg{
    width: 158px;
    position: absolute;
    top: -50px;
    right: -50px;
}

.infoCards .two .cardtwoImg{
    width: 198px;
    position: absolute;
    top: -50px;
    right: -50px;
}

.infoCards .three .cardthreeImg{
    width: 200px;
    position: absolute;
    top: -50px;
    right: -50px;
}

.cardbgone{
    height: 150px;
    background-color: #ffce63;
}

.cardbgtwo{
    height: 150px;
    background-color: #a1cdff;
}

.cardbgthree{
    height: 150px;
    background-color: #ffce63;
}

.cardContent{
    padding: 0 20px;
}

.cardContent h2{
    font-weight: 600;
}

.cardContent p{
    line-height: 30px;
    opacity: 0.6;
}

.cardContent .cardBtn{
    position: absolute;
    right: 20px;
    padding: 10px;
    background-color: #ededed;
    width: 25px;
    height: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.2s;
}

.cardContent .cardBtn:hover{
    background-color: #2f8be0;
}

.cardContent .cardBtn .cardIcon{
    position: relative;
    top: 0px;
    left: 0px;
    width: 16px;
}

/* Banner Styles */

.banner{
    height: 400px;
    background-color: #ffce63;
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.bannerText h1{
    font-size: 3vw;
    color: #000;
    font-weight: 600;
}

.bannerInnerText{
    font-size: 2.4vw;
}

.bannerText img{
    width: 14vw;
    margin-right: 35px;
}

.bannerImage img{
    width: 20vw;
}

/* Contact form styles */
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  margin-right: 60px;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #ffce63;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #fab725);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #f3a600;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
  margin-right: 2rem;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #000;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  left: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-110%);
  left: 0;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #e0501b;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #e0501b, #e26537);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #ffce63;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #ffce63, #d3981a);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(45%, 10%);
  opacity: 0.2;
}

/* Footer styles */

.footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.footerlinks{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.footerlinks a{
    margin: 20px;
    font-size: 1.3vw;
    font-weight: 600;
    color: #000;
    transition: color ease-in-out 500ms;
    text-align: center;
}

.footerlinks a:hover{
    color: #e0501b;
}

.footerlinks .mainlink{
    color: #e0501b;
}

/* Responsiveness */

@media only screen and (max-width: 950px){
  /* About Section */

  .aboutSection{
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
  }

  .aboutInfo{
    width: 70%;
    margin-bottom: 30px;
  }

  .aboutInfo .row p{
    font-size: 14px;
    opacity: .9;
  }

  .aboutInfo .row span{
    font-size: 6vw;
    padding-left: 10px;
  }

  .aboutImage{
    width: 50%;
    float: right;
    margin-right: -105px;
  }

  .aboutImage img{
    position: absolute;
    width: 45vw;
    transform: translateY(25%);
  }

  /* Process section */
  
  .processList{
    width: 80%;
  }
  
  .processText{
    position: relative;
    padding: 0 auto;
    width: 40%;
    height: 190px;
    margin-left: -50px;
    transform: translate(-10%, -100%) !important;
  }

  .processText img{
    opacity: .5;
  }
}

@media only screen and (max-width: 650px){
    /* nav styles */

  .nav{
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      height: auto;
      overflow: hidden;
  }

  .nav h4{
      font-size: 6vw;
      margin-top: 10px;
      margin-bottom: 14px;
  }

  .nav .links{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .nav .links a{
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 600;
      color: black;
      transform: translateX(3vw);
  }

  .nav .logo img{
      width: 30px;
      margin-bottom: 10px;
  }

  /* landing page */
  .landing{
      flex-direction: column-reverse;
      height: 750px;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 50px;
  }

  .landingText h1{
      font-size: 6vw;
      margin: 0 !important;
  }

  .landingText h3{
      font-size: 22px;
  }

  .landingText .btn{
      margin: 0 auto;
  } 

  .landingText .btn a{
      font-size: 3vw;
  } 

  .landingImage img{
      width: 54vw;
      margin-top: 80px;
      margin-bottom: 40px;
  }

  /* About Section */

  .aboutSection{
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
  }

  .aboutContainer{
    flex-direction: column;
    justify-content: flex-start;
  }

  .aboutInfo{
    position: relative;
    width: 100%;
    margin-bottom: 20vh;
  }

  .aboutInfo .row{
    width: 100vw;
    margin-right: 60px;
  }

  .aboutInfo .row p{
    font-size: 14px;
    opacity: .9;
  }

  .aboutInfo .row span{
    font-size: 10vw;
    padding-left: 10px;
  }

  .aboutImage{
    width: 100vw;
    position: absolute;
    top: -50px;
    left: -40px;
  }

  .aboutImage img{
    width: 85vw;
    opacity: 0.4;
  }
  /* Process section */

  .process{
      height: auto;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .processText{
      position: relative;
      padding: 0 auto;
      height: 150px;
  }

  .processText h1{
      position: absolute;
      left: 100%;
      transform: translateX(-50%);
      width: 100vw;
      font-size: 8vw;
  }

  .processText span{
      font-size: 6vw;
  }

  .processText img{
      width: 60vw;
      opacity: 0.4;
      top: 100px;
      left: -10px;
  }

  .processList{
      width: 75%;
  }

  ol li{
      font-size: 26px;
  }

  li p{
      font-size: 14px;
      opacity: 0.9;
  }

  /* Info section */

  .infoSection{
      height: auto;
  }

  .infoHeader{
      text-align: center;
      margin: 40px 0;
  }

  .infoCards{
      display: flex;
      flex-direction: column;
      padding: 50px;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .infoCards .card{
      margin-bottom: 60px;
  }

  .infoCards .one .cardoneImg{
      right: -10px;
  }
  
  .infoCards .two .cardtwoImg{
      right: -10px;
  }
  
  .infoCards .three .cardthreeImg{
      right: -30px;
    }

  /* Banner section */

  .banner{
      height: auto;
      flex-direction: column-reverse;
      padding: 50px;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .banner h1{
      font-size: 6vw;
  }

  .bannerInnerText{
      margin: 10px auto;
      font-size: 4.5vw;
  }

  .bannerText img{
      width: 25vw;
  }

  .bannerImage img{
      width: 32vw;
  }

  /* Contact styles */
  .form {
      grid-template-columns: 1fr;
      margin-right: 60px;
      max-width: 800px;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }
  
  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }
  
  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }
  
  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }

  /* Footer section */

  .footer{
      padding-bottom: 40px;
  }

  .footerlinks a{
      font-size: 12px;
  }
}

@media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }

    .form{
      margin-right: 40px;
      max-width: 800px;
    }
  
    .square,
    .big-circle {
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }   
}